{% load static%}

<link rel="stylesheet" type="text/css" href="{% static 'css/cssuser.css' %}">
<!-- bootstrap css -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">

<body>
   
   
{% block navbar %}   
<div class="header1">
   <div class="container">
      <div class="row">
         <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
            <div class="full">
               <div class="center-desk">
                  <div class="logo">
                     <a href="/"><img src="{% static 'images/logo.png'%}" alt="#" /></a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>      
</div>         
{% endblock %}
{% block content %}


 <form method="POST">

   <div class="page-content page-container" id="page-content">      
     <div class="containertabla">
        <div class="page-content page-container" id="page-content">
<div class="padding">
   <div class="card user-card-full">
       <div class="row m-l-0 m-r-0">
           <div  class="col-sm-4 bg-c-lite-green user-profile" >
               <div class="card-block text-center text-white">
                   
               </div>
           </div>
           <div class="col-sm-8">
               <div class="card-block">
                   <h6 class="m-b-20 p-b-5 b-b-default f-w-800">Registro</h6>
                   <div class="row">
                     {% csrf_token %}
                       <div class="col-sm-6">
                           <div class="wrap-input100" data-validate = "Username is reauired">
                              <p class="m-b-10 f-w-600">Usuario</p>
                              {{ form.username }}
                           </div>
                        </div>
                       <div class="col-sm-6">
                        <div class="wrap-input100" data-validate = "Username is reauired">
                           <p class="m-b-10 f-w-600">Nombre</p>
                           {{ form.first_name }}
                        </div>   
                       </div>
                       <div class="col-sm-6">
                        <div class="wrap-input100" data-validate = "Username is reauired">
                          <br> <p class="m-b-10 f-w-600">Apellido</p>
                           {{ form.last_name }}
                        </div>  
                       </div>
                       <div class="col-sm-6">
                        <div class="wrap-input100" data-validate = "Username is reauired">
                           <br> <p class="m-b-10 f-w-600">Correo</p>
                           {{ form.email }}
                        </div>  
                       </div>
                       <div class="col-sm-6">
                        <div class="wrap-input100" data-validate = "Username is reauired">
                           <br> <p class="m-b-10 f-w-600"> Escuela</p>
                           {{ form.escuela }}
                        </div>  
                       </div>
                       <div class="col-sm-6">
                        <div class="wrap-input100" data-validate = "Username is reauired">
                           <br> <p class="m-b-10 f-w-600">Fecha de Nacimineto</p>
                           <input class="text-muted f-w-400" type="date" id="start" name="fecha_cumple" value="2018-07-22">
                        </div>  
                       </div>
                       <div class="col-sm-6">
                        <div class="wrap-input100" data-validate = "Username is reauired">
                           <br> <p class="m-b-10 f-w-600">Sexo</p>
                            <select name="sexo"  class="text-muted f-w-400" id="">
                              <option value="masculino">selecciona</option>
                              <option value="masculino">masculino</option>
                              <option value="femenino">femenino</option>
                              <option value="otro">otro</option>
                           </select>
                        </div>  
                       </div>
                       <div class="col-sm-6">
                        <div class="wrap-input100" data-validate = "Username is reauired">
                           <br><p class="m-b-10 f-w-600">Contraseña</p>
                           {{ form.password1 }}
                        </div>  
                       </div>
                       <div class="col-sm-6">
                        <div class="wrap-input100" data-validate = "Username is reauired">
                           <br><p class="m-b-10 f-w-600">Contraseña</p>
                           {{ form.password2 }}
                        </div>  
                       </div>
                       
                       
               
                   </div>
                       <div class="button mt-2 d-flex flex-row align-items-center">
                       <button class="btn btn-sm btn-primary">Guardar</button> 
                       <a class="btn btn-danger" href="/eliminar_usuario/">Eliminar</a>
                    
                    </div> 
                  

                       
                    </div>
                   
                   
               </div>
           </div>
       </div>
   </div>
</div>
</div>
</div> 
</div> 
</form>
</body> 

{% endblock %}