{% extends "base/base.html" %}
{% block content %}
{% load static%}

 
    <div id="contact" class="contact">
        <div class="container">
           <div class="row">
              <div class="col-md-6 offset-md-3 ">
                <div class="row">
                   <form class="main_form"  method="POST">
                     <div class="col-sm-12">
                        <h1>Haz salido</h1>
                        <button class="send">Registrarse</button>
                     </div>   
                    </form>        
                </div>
                   
                 
              </div>
           </div>
        </div>
     </div>
          
               
            
         
 </form>


            
        
{% endblock %}